@CHARSET "UTF-8";

.margin-10 {
	margin: 10px 10px 10px 10px !important;
}

.margin-15 {
	margin: 15px 15px 15px 15px !important;
}

.bottom-margin-10 {
	margin: 10px 0px 10px 0px !important;
}

.float-wrapper {
	position:relative;
}

.text-bold {
	font-weight: bold;
}

.float-vertical-align {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
}

.alert-auto {
	display:inline-block;
}

/* y */
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.pull-right {
  float: right; /* !important; */
}
